@{
    ViewBag.Title = "Home Page";
}
<div>
    <div>
        <form>
            <div>
                <label>User:</label>
                <input />
            </div>
            <br />
            <div>
                <label>Password:</label>
                <input type="password" />
            </div>
            <div>
                <input type="checkbox" />
                <label>Remember password</label>
            </div>
            <div>
                <input id="LoginBtn" type="submit" value="Login" />
            </div>
        </form>
    </div>
</div>